{% for greeting in greetings %}
<div class="p-4 mb-4 bg-gray-800 rounded-md shadow-md flex items-start" id="greeting-{{ greeting.id }}">
    <img src="{{ greeting.avatar_url }}" alt="Avatar" class="w-10 h-10 rounded-full mr-4 mt-2">
    <div class="flex-grow">
      <p class="font-bold">{{ greeting.name }}</p>
      <p id="message-{{ greeting.id }}">{{ greeting.message }}</p>
      <small class="text-gray-500">{{ greeting.created_at }}</small>
    </div>
    <div class="w-full">
        <div class="flex space-x-2 mt-2 justify-end">
            <button class="btn btn-secondary btn-sm"
                    hx-get="/greetings/{{ greeting.id }}/edit"
                    hx-swap="outerHTML"
                    hx-target="#message-{{ greeting.id }}">
              <i class="material-icons">edit</i> Edit
            </button>
            <button class="btn btn-danger btn-sm"
                    hx-delete="/greetings/{{ greeting.id }}"
                    hx-confirm="Are you sure you want to delete this greeting?"
                    hx-target="#greetings-list"
                    hx-swap="innerHTML"
                    >
              <i class="material-icons">delete</i> Delete
            </button>
        </div>
    </div>
</div>
{% endfor %}
